@model IEnumerable<Simple_Project_Management_Tool.Models.ViewTasksModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showUsers</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @ViewBag.userTypeName</a></li>
                <li>
                    <a href="/Login/LogOut/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 style="text-align:center">@ViewBag.ProjectName Tasks</h1>
        <h4 style="text-align:center">Total Task of this project : @ViewBag.TotalTask</h4>
        <div class="row">
            <table class="table table-hover table-responsive" id="myTable">
                <thead>
                    <tr>
                        <th align="center"></th>
                        <th align="center">Assign To</th>
                        <th align="center">Description</th>
                        <th align="center">Due Date</th>
                        <th align="center">Priority</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Serial)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssignTo)</td>
                            <td><p>@Html.DisplayFor(modelItem => item.Description)</p></td>
                            <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-4" style="text-align:left">
                <a href="/ProjectManager/Index/">
                    Back to Home
                </a>
            </div>
        </div>
    </div>

    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Script/npm.js"></script>
</body>
</html>
